<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<html lang="en" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Profile</title>
		<meta name="description" content="A HTML5 app made for supporting smart home" />
		<meta name="keywords" content="Smart home,html5 app" />
		<meta name="author" content="Srijita Thakur" />
		<!-- Bootstrap -->
		<!--<script src="js/modernizr.custom.js"></script>-->
		<link href="~/CSS/bootstrap.min.css" rel="stylesheet">
		<link href="~/CSS/flat-ui.css" rel="stylesheet">
		<!--<link href="css/jquery.fancybox.css" rel="stylesheet">-->
		<!--<link href="css/flickity.css" rel="stylesheet" >-->
		<link href="~/CSS/animate.css" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
		<link href="~/CSS/styles.css" rel="stylesheet">
		<link href="~/CSS/queries.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Facebook and Twitter integration -->
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script>
		$(document).ready(function(){
    
    $("#readmore").click(function(){
        $(".details").fadeToggle(1000);
    });
});
	</script>
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- open/close -->
		
		<div class="container">
		<div class="row" style="margin-top:5%;">
		<div class="col-md-8 col-sm-8 col-xs-8 white">
		<p>$2000 Pledged</p>
		</div>
		
		<div class="col-md-4 col-sm-4 col-xs-4 white">
		<p style="text-align:right;">20 days to go</p>
		</div>
		</div>
		
		<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12 white">
		<div class="progress">
            <div class="progress-bar" style="width: 45%;"></div>
          </div>
		  <p style="text-align:center;">30% funded</p>
		</div>
		</div>
		<div class="row white">
		<div class="col-md-1 col-sm-1 col-xs-1">
          <a href="#" class="btn btn-default btn-block mybtn">$10</a>
        </div>
		<div class="col-md-1 col-sm-1 col-xs-1">
          <a href="#" class="btn btn-default btn-block mybtn">$20</a>
        </div>
		<div class="col-md-1 col-sm-1 col-xs-1">
          <a href="#" class="btn btn-default btn-block mybtn">$50</a>
        </div>
		<div class="col-md-1 col-sm-1 col-xs-1">
          <a href="#" class="btn btn-default btn-block mybtn">$100</a>
        </div>
		<div class="col-md-1 col-sm-1 col-xs-1">
          <a href="#" class="btn btn-default btn-block mybtn">Other</a>
        </div>
		
		<div class="col-md-2 col-sm-2 col-xs-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2">
          <a href="#" class="btn btn-primary donatebtn">Donate</a>
        </div>
		<div class="col-md-2 col-sm-2 col-xs-2 col-sm-offset-1 col-xs-offset-1 col-md-offset-1">
          <div id="readmore"><p>...</p></div>		  
        </div>
		</div>
		<div class="row white" style="min-height:1.5em;"></div>
		<div class="details" style="display:none;">
		<div class="row white" style="min-height:2em;border-top:solid 1px #dddddd;border-bottom:solid 1px #dddddd;">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<h3>Note</h3>
		<p>We need fund for his last mile expenses.We need fund for his last mile expenses.We need fund for his last mile expenses.We need fund for his last mile expenses.
		We need fund for his last mile expenses.We need fund for his last mile expenses.We need fund for his last mile expenses.We need fund for his last mile expenses.We need fund for his last mile expenses.We need fund for his last mile expenses.
		We need fund for his last mile expenses.We need fund for his last mile expenses.We need fund for his last mile expenses.We need fund for his last mile expenses.We need fund for his last mile expenses.
		</p>
		</div>
		</div>
		<div class="row white" style="min-height:2em;">
		<div class="col-md-12 col-sm-12 col-xs-12">
		<h3>Helping Hands</h3>		
		</div>
		</div>
            
		<div class="row white">
		<div class="col-md-3 col-sm-3 col-xs-3 grey-col">
            <div style="background-image:url('../images/1.jpg');background-size:contain;height:45%;width:45%;"></div>
            <img src="~/images/mrbean.jpg" width="45%" height="45%"/>
		  <span>Mr Atkinson<br>$100</span>
        </div>
		<div class="col-md-3 col-sm-3 col-xs-3 grey-col">
         <img src="~/images/mrbean.jpg" width="45%" height="45%">
         <span>Mr Atkinson<br>$100</span>		 
        </div>
		<div class="col-md-3 col-sm-3 col-xs-3 grey-col">
          <img src="~/images/mrbean.jpg" width="45%" height="45%">
		  <span>Mr Atkinson<br>$100</span>
        </div>
		<div class="col-md-3 col-sm-3 col-xs-3 grey-col">
          <img src="~/images/mrbean.jpg" width="45%" height="45%">
		  <span>Mr Atkinson<br>$100</span>
        </div>
		<div class="col-md-3 col-sm-3 col-xs-3 grey-col">
          <img src="~/images/mrbean.jpg" width="45%" height="45%">
		  <span>Mr Atkinson<br>$100</span>
        </div>
		<div class="col-md-3 col-sm-3 col-xs-3 grey-col">
          <img src="~/images/mrbean.jpg" width="45%" height="45%">
		  <span>Mr Atkinson<br>$100</span>
        </div>
		</div>
		</div>
       </div>		
        <script src="~/MyScripts/flat-ui.min.js"></script>
        <script src="~/MyScripts/application.js"></script>
		
	
		</body>
		</html>