@{
    ViewBag.Title = "Login";
}
<script src="~/MyScripts/index.js"></script>
<link href="~/CSS/animate.min.css" rel="stylesheet" />
<link href="~/CSS/index.css" rel="stylesheet" />
 <section id="slide1" class="par">
<div class="container-fluid">
 <div class="row" style="width:100%; height:25vh;">
     @using(Html.BeginForm("Index", "Home")) {
    <button class="signin">Sign Up</button>
 }
     @*sdf*@
 </div>
 <div class="row" style="width:100%; height:40vh;">
   <div class="col-lg-3 col-sm-3 signup" style="float:right;height:64%;margin-right:10vw;">
   <input type="text" placeholder="user name" class="inputBoxes" id="username" name="usernm"/></br>
   <input type="password" placeholder="password" class="inputBoxes" id="password" name="pw"/><br />
     <button id="submitBtn1">Sign In</button>
       
       <div style="font-family:'Open sans';font-size:12px;text-align:center;color:white;">
         <button style="background:none;border:none;outline:none" id="forgot">Forgot Your Password?</button>
       </div>
       @*<span class=""><p style="text-align:center;font-family:'Open sans'; margin-top:10px; color:#fff">[ Or ]</p> </span>
   <div class="inputdata" style="margin-top:30px;">
     <button id="fb"></button>
     <button id="gp"></button>
   </div>*@
   </div>

 </div>
 </div>
      <section id="slide1" class="par">
          <script src="~/MyScripts/Login.js"></script>
